**/.vscode/*
Project1/*
test/*
**/Build/*
**/Bin/*
**/makefile
**/Tests/*

**/Includes/*
!**/Includes/Tetrimino.hpp
!**/Includes/UniquePointer.hpp
!**/Includes/Fighter.hpp
**/Source/*
!**/Source/Tetrimino.cpp
!**/Source/UniquePointer.cpp
!**/Source/Fighter.cpp

*.txt
*.exe

